<template name='nav'>
 {{#if currentUser}}
  <nav class="navbar " role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
<!--
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{> navBrand}}
      </div>
-->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--
        <ul class="nav navbar-nav">
			{{> navItems}}
        </ul>
-->
        {{> loginAccount}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
     {{else}}
     <nav class="navbar" role="navigation">
    <div class="container-fluid">
	    <div class="col-md-12">
  {{> loginAccount}}
	    </div>
    </div>
     </nav>
     {{/if}}
</template>
<template name="navBrand">
  <a class="navbar-brand" href="{{ pathFor 'home' }}">Plex Requests</a>
</template>
<!--
<template name='navItems'>
   <li class="{{ activeIfTemplateIs 'about' }}">
    <a href="{{pathFor 'about'}}">About</a>
  </li>
  <li class="{{ activeIfTemplateIs 'settings' }}">
    <a href="{{pathFor 'settings'}}">Settings</a>
  </li>
  <li class="{{ activeIfTemplateIs 'plex' }}">
    <a href="{{ pathFor 'plex'}}">Plex Auth Setup</a>
  </li>
  <li class="{{ activeIfTemplateIs 'couchpotato' }}">
    <a href="{{ pathFor 'couchpotato'}}">CouchPotato Status</a>
  </li>
  <li class="{{ activeIfTemplateIs 'sickrage' }}">
    <a href="{{ pathFor 'sickrage'}}">SickRage Status</a>
  </li>
  <li class="{{ activeIfTemplateIs 'sonarr' }}">
    <a href="{{ pathFor 'sonarr'}}">Sonarr Status</a>
  </li>
  <li>
    <a href="http://plexrequests.8bits.ca/" target="_blank">Project Site</a>
  </li>
</template>
-->
<template name="loginAccount">
	<ul class="nav navbar-nav navbar-right">
           {{> loginButtons}}
    </ul>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
	<button class="btn btn-default btn-block" id="login-buttons-about">About</button>
    <button class="btn btn-default btn-block" id="login-buttons-settings">Settings</button>
    <button class="btn btn-default btn-block" id="login-buttons-project-site">Project Site</button>
</template>
