<template name="couchpotato">
	<h3 class="service-label"> {{> afFieldInput name="enabled" type="boolean-checkbox" }} {{service}}</h3>
		  <p class="help-block">Enable Couch Potato for automated downloading of movies.</p>
   {{#if enabled}}
    			<label for="api" class="col-sm-3 control-label">Host:Port</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="host" }}
			      <p class="help-block">URL to your CouchPotato server (e.g. http://localhost:5050)</p>
			    </div>
			    <label for="api" class="col-sm-3 control-label">API Key</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="api" }}
			       <p class="help-block"> CouchPotato Settings -> General -> API Key</p>

			    </div>
                      <div class="col-sm-3  text-right">
                        Service status:
                      </div>
                       <div class="col-sm-9">
	                        <span class="btn btn-primary btn-xs test-service" data-test-btn="checkCP">Test</span>

                      </div>
  {{/if}}
</template>
