<template name="pushover">
	<h3 class="service-label"> {{> afFieldInput name="enabled" type="boolean-checkbox" }} {{service}}</h3>
		  <p class="help-block">Enable PushOver to receive notifications when new content is requested.</p>
   {{#if enabled}}
    			<label for="api" class="col-sm-3 control-label">API Token</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="api" }}
			      <p class="help-block">API Token</p>
			    </div>
			    <label for="api" class="col-sm-3 control-label">User Key</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="userKey" }}
			       <p class="help-block">Your user or group key</p>

			    </div>
                      <div class="col-sm-3  text-right">
                        Test {{this.service}}:
                      </div>
                       <div class="col-sm-9">
	                        <span class="btn btn-primary btn-xs test-service" data-test-btn="checkPO">Test</span>

                      </div>
  {{/if}}
</template>
