<template name="sickrage">
	<h3 class="service-label"> {{> afFieldInput name="enabled" type="boolean-checkbox" }} {{service}}</h3>
		   <p class="help-block">Service information</p>
   {{#if enabled}}
    			<label for="api" class="col-sm-3 control-label">Host:Port</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="host" }}
			      <p class="help-block">URL to your SickBeard/SickRage server (e.g. http://localhost:8080)</p>
			    </div>
			    <label for="api" class="col-sm-3 control-label">API Key</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="api" }}
			       <p class="help-block"> SickRage Settings -> Interface -> API Key</p>

			    </div>
                      <div class="col-sm-3  text-right">
                        Test {{this.service}}:
                      </div>
                       <div class="col-sm-9">
	                        <span class="btn btn-primary btn-xs test-service" data-test-btn="checkSR">Test</span>


                      </div>
  {{/if}}
</template>

