<template name="sonarr">
	<h3 class="service-label"> {{> afFieldInput name="enabled" type="boolean-checkbox" }} {{service}}</h3>
		  <p class="help-block">Enable Sonarr for automated downloading of TV shows.</p>
   {{#if enabled}}


			    <label for="api" class="col-sm-3 control-label">Host:Port</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="api" }}
			       <p class="help-block">URL to your Sonarr server (e.g. http://localhost:8989)</p>

			    </div>

    			<label for="api" class="col-sm-3 control-label">API Key</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="api_key" }}
			      <p class="help-block">Sonarr Settings -> General</p>
			    </div>




			    <label for="qualityProfileId" class="col-sm-3 control-label">Quality</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="qualityProfileId" }}
			      <p class="help-block">Quality Profile ID</p>
			    </div>


			    <label for="rootFolderPath" class="col-sm-3 control-label">Folder Path</label>
			     <div class="col-sm-9">

			     {{> afFieldInput name="rootFolderPath" }}
			     <p class="help-block">Path to TV folder show</p>
			    </div>


			    <label for="seasonFolder" class="col-sm-3 control-label">Season Folder</label>
			     <div class="col-sm-9">

			     {{> afQuickField name="seasonFolder" }}
			      <p class="help-block"></p>
			    </div>


                      <div class="col-sm-3  text-right">
                        Test {{this.service}}:
                      </div>
                       <div class="col-sm-9">
	                        <span class="btn btn-primary btn-xs test-service" data-test-btn="checkSO">Test</span>


                      </div>
  {{/if}}
</template>